.knight {
    height: 64px;
    width: 64px;   
    z-index: 1;
}

.knight-position-arena {
    position: fixed;
    top: 0;
    margin-top: 11px;
    margin-left: 3px;
    display: grid;
    grid-template-columns: repeat(5, 64px);
    grid-template-rows: repeat(6, 64px);
}

.knight-position1 { 
    grid-area: 1 / 1 / 2 / 2; 
}
.knight-position2 { 
    grid-area: 1 / 2 / 2 / 3; 
}
.knight-position3 { 
    grid-area: 1 / 3 / 2 / 4; 
}
.knight-position4 { 
    grid-area: 1 / 4 / 2 / 5; 
}
.knight-position5 { 
    grid-area: 1 / 5 / 2 / 6; 
}
.knight-position6 { 
    grid-area: 2 / 1 / 3 / 2; 
}
.knight-position7 { 
    grid-area: 2 / 2 / 3 / 3; 
}
.knight-position8 { 
    grid-area: 2 / 3 / 3 / 4; 
}
.knight-position9 { 
    grid-area: 2 / 4 / 3 / 5; 
}
.knight-position10 {
     grid-area: 2 / 5 / 3 / 6;
 }
.knight-position11 {
     grid-area: 3 / 1 / 4 / 2;
 }
.knight-position12 {
     grid-area: 3 / 2 / 4 / 3;
 }
.knight-position13 {
     grid-area: 3 / 3 / 4 / 4;
 }
.knight-position14 {
     grid-area: 3 / 4 / 4 / 5;
 }
.knight-position15 {
     grid-area: 3 / 5 / 4 / 6;
 }
.knight-position16 {
     grid-area: 4 / 1 / 5 / 2;
 }
.knight-position17 {
     grid-area: 4 / 2 / 5 / 3;
 }
.knight-position18 {
     grid-area: 4 / 3 / 5 / 4;
 }
.knight-position19 {
     grid-area: 4 / 4 / 5 / 5;
 }
.knight-position20 {
     grid-area: 4 / 5 / 5 / 6;
 }
.knight-position21 {
     grid-area: 5 / 1 / 6 / 2;
 }
.knight-position22 {
     grid-area: 5 / 2 / 6 / 3;
 }
.knight-position23 {
     grid-area: 5 / 3 / 6 / 4;
 }
.knight-position24 {
     grid-area: 5 / 4 / 6 / 5;
 }
.knight-position25 {
     grid-area: 5 / 5 / 6 / 6;
 }
.knight-position26 {
     grid-area: 6 / 1 / 7 / 2;
 }
.knight-position27 {
     grid-area: 6 / 2 / 7 / 3;
 }
.knight-position28 {
     grid-area: 6 / 3 / 7 / 4;
 }
.knight-position29 {
     grid-area: 6 / 4 / 7 / 5;
 }
.knight-position30 {
     grid-area: 6 / 5 / 7 / 6;
 }

